# Dependências
node_modules/
package-lock.json
yarn.lock

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Logs
*.log
npm-debug.log*

# Sistema Operacional
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos temporários
*.tmp
*.temp

